body {
  background-color: #87ceeb;
  text-align: center;
}

header {
  background-image: url(../img/header.jpg);
  background-size: cover;
}

header div {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

header div img {
  margin-left: 150px;
}

header div #nav_pc {
  margin: 35px 40px 0  0;
  background-color: #008b8b;
  border-radius: 10px 10px 0 0;
}

header div #nav_pc ul > li {
  display: inline;
  padding-right: 30px;
}

header div #nav_pc ul > li a {
  color: #ffffff;
  text-decoration: none;
}

header div #nav_sp {
  display: none;
}

#profile {
  background-color: #ffffff;
}

#contact {
  margin-top: 50px;
  padding-top: 30px;
  background-color: #0000ff;
  font-weight: bold;
}

#contact form {
  margin: 15px 320px 0;
}

#contact form h1 {
  font-size: 50px;
}

#contact form .main-text {
  margin-top: 23px;
  font-size: 30px;
}

#contact form .main-text input {
  background-color: #ffffff;
  height: 40px;
  width: 100%;
}

#contact form #message {
  background-color: #ffffff;
  height: 190px;
  width: 100%;
}

#contact form #submit {
  margin: 70px 0 100px;
}

#contact form #submit input {
  background-color: #F7D43F;
  width: 238px;
  padding: 24px 50px 18px;
  color: #333;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 60px;
}
