@charset "UTF-8";
.macosx {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Noto Serif','Noto Serif JP' !important;
}

header {
  max-width: 1440px;
  width: 100%;
  font-style: italic;
  color: #ffffff;
  z-index: 15;
  position: absolute;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 97px 18px 100px;
}

header div h1 {
  font-size: 27px;
  letter-spacing: 2px;
  padding-left: 20px;
}

header div #nav_pc > a {
  margin-right: 27px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

header div #nav_sp {
  display: none;
}

#top .carousel div > img {
  z-index: 5;
  position: relative;
  width: 100%;
}

#top #top_text {
  z-index: 10;
  position: absolute;
  top: 405px;
  left: 120px;
  color: #ffffff;
}

#top #top_text h1 {
  font-size: 75px;
  letter-spacing: 3.25px;
  margin: 0;
  padding: 0;
}

#top #top_text h3 {
  font-size: 42px;
  margin: 15px 0;
  padding: 0;
  letter-spacing: 1.15px;
}

#concept {
  width: 100%;
  padding: 15px 0;
  margin: 35px 0 52px;
}

#concept #concept_top {
  font-size: 60px;
  font-style: italic;
  text-align: left;
  letter-spacing: 5px;
  margin-left: 220px;
  display: flex;
  align-items: center;
}

#concept #concept_top::after {
  content: "";
  border-top: 5px solid #000000;
  margin-left: 37px;
  width: 200px;
}

#concept h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 60px;
}

#concept div {
  display: flex;
  margin: 0 195px 35px;
  padding: 12px 5px;
}

#concept div p {
  font-size: 17px;
  font-weight: bold;
  width: 50%;
  line-height: 30px;
  padding: 23px 60px 0 20px;
  text-align: left;
}

#concept div img {
  padding: 0 20px 0 60px;
  width: 50%;
}

#concept #concept_end {
  font-size: 95px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 18px;
  color: #80808012;
  text-align: right;
  margin-right: 117px;
}

#works {
  background-image: url(../img/works-bgi.jpg);
  background-size: 100%;
}

#works #works_top {
  color: #ffffff;
  font-size: 58px;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
  padding: 106px 120px 60px 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#works #works_top::after {
  content: "";
  border-top: 5px solid #ffffff;
  margin-left: 45px;
  width: 200px;
}

#works div {
  display: flex;
  justify-content: center;
  margin: 10px 10px 0;
  margin-bottom: 30px;
}

#works div div {
  display: block;
  background-color: #ffffff;
  width: 320px;
}

#works div div p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  padding: 15px 18px;
}

#works .link {
  margin: 50px 0;
}

#works .link a {
  background-color: #F7D43F;
  width: 135px;
  padding: 19px 50px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 60px;
}

#works #works_end {
  font-size: 90px;
  letter-spacing: 8px;
  font-weight: bolder;
  padding: 18px 130px 60px 0;
  text-align: left;
  color: #80808023;
  margin: 30px 120px 70px;
}

#service #service_top {
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  letter-spacing: 8px;
  margin: 67px 120px 80px;
  padding: 28px 10px 0 97px;
  display: flex;
  align-items: center;
}

#service #service_top::after {
  content: "";
  border-top: 5px solid #000000;
  margin-left: 30px;
  width: 200px;
}

#service ul {
  display: flex;
  width: 100%;
  padding: 0;
}

#service ul li {
  list-style: none;
  width: 100%;
  height: 320px;
  color: #ffffff;
}

#service ul li h2 {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 102px 0;
}

#service ul #service_1 {
  background-image: url(../img/service-img01.jpg);
  background-size: cover;
}

#service ul #service_2 {
  background-image: url(../img/service-img02.jpg);
  background-size: cover;
}

#service ul #service_3 {
  background-image: url(../img/service-img03.jpg);
  background-size: cover;
}

#service #service_end {
  font-size: 90px;
  font-weight: bolder;
  letter-spacing: 7px;
  margin: 0;
  padding-top: 55px;
  color: #8080801f;
  text-align: right;
  margin-right: 130px;
}

#contact {
  background-image: url(../img/contact-bgi.jpg);
}

#contact #contact_top {
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 9px;
  font-style: italic;
  font-weight: bolder;
  margin: 55px 0 0;
  padding: 110px 119px 54px 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#contact #contact_top::after {
  content: "";
  border-top: 5px solid #ffffff;
  margin-left: 30px;
  width: 200px;
}

#contact p {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
}

#contact .link {
  margin: 68px 0 45px;
}

#contact .link a {
  background-color: #F7D43F;
  padding: 18px 83px;
  color: #333;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 60px;
}

#contact #contact_end {
  font-size: 90px;
  letter-spacing: 6px;
  font-weight: bolder;
  padding: 18px 130px 95px 0;
  text-align: left;
  color: #80808023;
  margin: 20px 120px 28px;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 80px;
}

#page_top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}

#page_top :hover {
  background-color: #666;
  text-decoration: none;
}

footer {
  margin: 10px;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  header {
    max-width: 375px;
    margin: 1px 0 0;
    width: 100%;
  }
  header div {
    margin: 0;
  }
  header div h1 {
    padding: 10px 0 0 15px;
  }
  header div #nav_pc {
    display: none;
  }
  header div #nav_sp {
    display: block;
    margin-top: 10px;
    padding: 5px 0;
  }
  #top .carousel div > img {
    width: cover;
    height: 595px;
  }
  #top #top_text {
    top: 200px;
    left: 5px;
  }
  #top #top_text h1 {
    font-size: 37px;
  }
  #top #top_text h3 {
    font-size: 31px;
    margin: 48px 58px;
    line-height: 50px;
  }
  #concept {
    padding: 43px 0 0;
    margin-bottom: 42px;
  }
  #concept #concept_top {
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 13px;
  }
  #concept #concept_top::after {
    margin-left: 35px;
    width: 90px;
  }
  #concept h2 {
    font-size: 21px;
    margin: 15px;
    padding-top: 26px;
  }
  #concept br {
    display: none;
  }
  #concept div {
    display: block;
    margin: 0;
    margin-right: 30px;
    padding: 0;
  }
  #concept div p {
    width: 100%;
    padding: 7px 15px;
    margin: 5px 0 24px  0;
  }
  #concept div img {
    padding: 0 15px;
    width: 100%;
    height: 150px;
  }
  #concept #concept_end {
    font-size: 39px;
    letter-spacing: 4px;
    margin: 0;
    margin-right: 12px;
    padding-top: 35px;
    text-align: right;
  }
  #works {
    background-size: cover;
  }
  #works #works_top {
    font-size: 30px;
    letter-spacing: 5px;
    padding: 101px 15px 0;
    margin-bottom: 40px;
    flex: none;
  }
  #works #works_top::after {
    margin-left: 28px;
    width: 100px;
  }
  #works div {
    flex-direction: column;
    margin: 10px 14px 19px;
  }
  #works div div p {
    height: 95px;
    padding: 12px 18px;
  }
  #works .link {
    margin: 61px 70px 42px;
  }
  #works .link a {
    padding: 20px 50px 19px;
    font-size: 16px;
  }
  #works #works_end {
    font-size: 39px;
    letter-spacing: 4px;
    padding: 0px 60px 47px 5px;
    text-align: left;
    margin: 30px 10px 70px;
  }
  #service #service_top {
    font-size: 30px;
    letter-spacing: 4px;
    margin: 45px 0 80px;
    padding: 30px 10px 0 13px;
  }
  #service #service_top::after {
    width: 100px;
  }
  #service ul {
    flex-direction: column;
    margin: 0;
  }
  #service ul li {
    height: 250px;
    margin-bottom: 30px;
  }
  #service ul li h2 {
    font-size: 18px;
    letter-spacing: 3px;
    padding: 97px 0;
  }
  #service #service_end {
    font-size: 39px;
    letter-spacing: 4px;
    padding: 11px 19px 5px 0;
    margin: 0;
  }
  #contact {
    background-size: cover;
  }
  #contact #contact_top {
    font-size: 30px;
    letter-spacing: 4.5px;
    margin: 55px 4px 0;
    padding: 100px 12px 54px 0;
    margin-bottom: 5px;
  }
  #contact #contact_top::after {
    margin-left: 30px;
    width: 100px;
  }
  #contact .link {
    margin: 58px 0 10px;
  }
  #contact #contact_end {
    font-size: 38px;
    letter-spacing: 4px;
    padding: 40px 30px 57px 15px;
    margin: 0;
  }
  #page_top {
    right: 0;
  }
  footer {
    margin: 29px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

/*========= ナビゲーションのためのCSS ===============*/
#g_nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background-color: #242424;
}

/*アクティブクラスがついたら位置を0に*/
#g_nav.panelactive {
  top: 0;
}

/*ナビゲーション*/
#g_nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g_nav li {
  list-style: none;
  text-align: center;
}

#g_nav li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 10px 22px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.open_btn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 20px;
  right: 0;
  cursor: pointer;
  width: 57px;
  height: 50px;
}

/*×に変化*/
.open_btn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  width: 45%;
}

.open_btn span:nth-of-type(1) {
  top: 15px;
}

.open_btn span:nth-of-type(2) {
  top: 25px;
}

.open_btn span:nth-of-type(3) {
  top: 35px;
}

.open_btn.active span:nth-of-type(1) {
  top: 12px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 55%;
}

.open_btn.active span:nth-of-type(2) {
  opacity: 0;
}

.open_btn.active span:nth-of-type(3) {
  top: 24px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 55%;
}

#contact_header > div {
  margin-top: 21px;
}

#contact-text {
  max-width: 1440px;
  z-index: 10;
  position: absolute;
  top: 185px;
  width: 100%;
  color: #ffffff;
}

#contact-text #contact_top_2 {
  font-size: 60px;
  font-style: italic;
  letter-spacing: 9px;
  margin: 0;
  padding: 0;
}

#contact-text #contact_end_2 {
  text-align: left;
  color: #80808023;
  font-size: 85px;
  margin: 0  48px;
  padding: 0;
  letter-spacing: 9px;
}

#main {
  margin: 90px 376px 0 369px;
  text-align: left;
  font-weight: bold;
}

#main form p {
  margin: 0;
  font-size: 17px;
}

#main form #check {
  display: flex;
}

#main form #check input[type=checkbox] {
  transform: scale(0.8);
  margin: 0 10px 0 0;
  vertical-align: middle;
}

#main form #check .checkbox {
  margin-right: 26px;
}

#main form .main_text {
  margin-top: 23px;
  font-size: 17px;
}

#main form .main_text input {
  height: 25px;
  width: 100%;
}

#main form #message {
  height: 165px;
  width: 100%;
}

#main form #submit {
  margin: 70px 232px 108px;
}

#main form #submit input {
  background-color: #F7D43F;
  width: 238px;
  padding: 24px 50px 18px;
  color: #333;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 60px;
}

#footer {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 376px) {
  #contact_header > div {
    margin: 0;
  }
  .top_img img {
    width: 375px;
    height: 360px;
  }
  #contact-text {
    top: 175px;
  }
  #contact-text #contact_top_2 {
    font-size: 29px;
    letter-spacing: 6px;
    padding-bottom: 30px;
  }
  #contact-text #contact_end_2 {
    font-size: 40px;
    margin: 0  15px;
    padding: 0;
    letter-spacing: 3px;
  }
  #main {
    margin: 90px 22px 0 16px;
  }
  #main form p {
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.7px;
  }
  #main form #check {
    display: block;
    margin: 0 0 23px;
  }
  #main form #check input[type=checkbox] {
    transform: scale(0.9);
    margin: 4px 5px 0 0;
    vertical-align: middle;
  }
  #main form #check .checkbox {
    margin: 4px 0;
  }
  #main form .main_text {
    margin: 0 0 17px;
  }
  #main form .main_text input {
    margin-top: 4px;
  }
  #main form #message {
    margin-top: 5px;
  }
  #main form #submit {
    margin: 72px 48px 106px;
  }
  #main form #submit input {
    width: 246px;
  }
}
