body{
    background-color: #fff450;
    text-align: center;
}

header{
    background-image: url(../img/header.jpg);
    height: 400px;
    background-size: cover;
    div{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        img{
            margin-left: 50px;
            height: 40px;
        }
        #nav_pc{
            margin: 370px 20px 0  0;
            padding-left: 10px;
            background-color: #ffcc00;
            border-radius: 10px 10px 0 0;
            ul > li{
                display: inline;
                padding-right: 30px;
                a{
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
        #nav_sp{
            display: none;
        }
    }
}

#top{
    display: flex;
    justify-content: center;
    margin: 80px 0 100px;
    img{
        width: 180px;
        margin: 0 50px;
    }
}

#job{
    margin: 0 0 80px;
    p{
        font-size: 20px;
        margin: 20px 0 40px;
    }
    div{
        margin: 20px 0;
    }
    #blue{
        color: #0000aa
    }
}

#skill{
    #can{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
        div{
            width: 25%;
            margin: 50px 0;
            span{
                font-size: 100px;
            }
            p{
                margin: 20px 0 0;
            }
        }
    }
}

#profile{
    background-color: #ffffff;
    table{
        display: flex;
        justify-content: center;
        tr{
            td{
                border: solid 1px;
                font-size: 18px;
                font-weight: bold;
                padding: 15px;
            }
        }
    }
}

#contact{
    margin-top: 50px;
    padding-top: 30px;
    background-color: #ffff00;
    font-weight: bold;
    form{
        margin: 15px 320px 0;
        h1{
            font-size: 30px;
        }
        .main-text{
            margin-top: 23px;
            font-size: 20px;
            input{
                background-color: #ffffff;
                height: 30px;
                width: 50%;
            }
        }
        #message{
            background-color: #ffffff;
            height: 250px;
            width: 50%;
        }
        #submit{
            margin: 25px 0 70px;
            input{
            background-color: #F7D43F;
            width: 150px;
            padding: 24px 50px 18px;
            color: #333;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 1px;
            border-radius: 60px;
            }
        }
    }
}